<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eatzy</title>
	<link rel="stylesheet" href="static/style_login.css">

	<link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

	</head>
<body>
	<selection>
		<header>
			<a href="#"><img src="static/logo1.png" class="logo" onclick="location.replace('/');" width="200px"></a>
			
		</header>
	</selection>

    
	<div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>

                <form action="/login" method="post">
                    {% csrf_token %}
                    
                    <div class="input-field">
                        <input type="text" placeholder="Enter username" name = "username" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Enter your password" name="password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    {% comment %} <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Remember me</label>
                        </div>
                        
                        {% comment %} <a href="#" class="text">Forgot password?</a>
                    </div> {%endcomment%}
{% comment %} 
                    <div class="input-field button">
                        <input type="button" value="Login">
                    </div> {% endcomment %}
                    
                    <button type="submit" class="input-field button" style="background-color:#cc3333;color:white;border:0px;border-radius:10px;font-size:18px">Login</button>
                </form>
                <div>
                    {% if message %}
                    <br>
                    <p style="font-family:poppins;color:red;text-align:center;"><i class="fas fa-triangle-exclamation"></i>&nbsp {{message}}</p>
                    {%endif%}
                </div>
                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="/signup" class="text signup-link">Signup Now</a>
                    </span>
                </div>
            </div>

            <!-- Registration Form -->
            
        </div>
    </div>
    {% comment %} <script src="/static/login.js"></script> {% endcomment %}
</body>
</html>
